# This gitignore uses an inclusion pattern, explicitly specifying
# what we want to include, not what we want to exclude.
# From man gitignore:
#   An optional prefix ! which negates the pattern; 
#   any matching file excluded by a previous pattern 
#   will become included again.
#
# Unfortunately we cannot just exclude everything and then
# re-include what we want to include. The things we re-include
# must have been a file or directory matched **by a previous pattern**
# The pattern *, for example matches MMI0, but not MMI0/Assets

# Exclude everything, making sure things we want to re-include
# later are explicitly matched here

MMI0/Assets/*/*/*/*/*
MMI0/Assets/*/*/*/*
MMI0/Assets/*/*/*
MMI0/Assets/*/*
MMI0/Assets/*
MMI0/ProjectSettings/*
MMI0/*

# Re-include the things we want to keep
!LICENSE
!.gitignore
!MMI0
!MMI0/Assets
!MMI0/Assets/*
!MMI0/Assets/*/*
!MMI0/Assets/*/*/*
!MMI0/Assets/*/*/*/*
!MMI0/Assets/*/*/*/*/*
!MMI0/Assets/*/*/*/*/*/*
!MMI0/ProjectSettings
!MMI0/ProjectSettings/*

# Exclude files we don't want
.DS_Store

